<section class="card col-md-10 mx-auto p-3">
    <h2>Notifications</h2>
    {{ form_start(formSetting) }}
        <div class="row p-3">
            <div class="col text-end">
                <p>Email notification for : </p>
            </div>
            <div class="col">
                <div class="form-check form-switch">
                    {{ form_widget(formSetting.isNewTripRequest) }}
                </div>
                <div class="form-check form-switch">
                    {{ form_widget(formSetting.isNewMessage) }}
                </div>
                <div class="form-check form-switch">
                    {{ form_widget(formSetting.isTripRequestStatusChange) }}
                </div>
                <div class="form-check form-switch">
                    {{ form_widget(formSetting.isFriendNewTrip) }}
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary rounded-pill">Enregister</button>
        </div>
    {{ form_end(formSetting) }}
</section>