<section class="card col-lg-10 mx-auto p-3 m-3">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="https://placehold.co/300" alt="" class="rounded-circle border border-3 p-2">
        </div>
        <div class="col-md-6">
            <h1>{{ user }}</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Pseudo</th>
                        <td>{{ user.id }} - {{ user }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ user.age }} ans</td>
                    </tr>
                    <tr>
                        <th>About</th>
                        <td>{{ user.about }}</td>
                    </tr>
                    <tr>
                        <th>Activités</th>
                        <td>
                            <ul>
                                {% for activity in user.activities %}
                                    <li>
                                        {{ activity }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {# <tr>
                        <th>Roles</th>
                        <td>
                            {% for role in user.roles %}
                                {{ role }} <br>
                            {% endfor %}
                        </td>
                    </tr> #}
                </tbody>
            </table>
            <div class="text-end">
                <a href="{{ path('app_profile_edit_password') }}" class="btn btn-primary rounded-pill">Changer de mot de passe</a>
                <a href="{{ path('app_profile_edit') }}" class="btn btn-primary rounded-pill">Editer mon profil</a>
            </div>
        </div>
    </div>
</section>