{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe
{% endblock %}

{% block body %}
	<section class="card col-lg-6 mx-auto">
		<div class="card-body bg-primary bg-opacity-10">
			<h1 class="card-title">Changer de mot de passe</h1>
			<a href="{{ path('app_profile_index') }}" class="btn btn-primary rounded-pill">Retour</a>
		</div>
		<div class="card-body">
			{{ form_start(form) }}

			{{ form_errors(form) }}

			{{ form_widget(form) }}

			<button type="submit" class="btn btn-primary rounded-pill">
				Valider
			</button>

			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
