{% extends 'base.html.twig' %}

{% block title %}
	{{ user }}
{% endblock %}

{% block body %}
	<section class="card m-3">
		<div class="card-body row">
			<div class="col-md-6 text-center">
				{% if user.avatar %}
					<img src="{{ asset(images_dir ~ user.avatar)|imagine_filter('avatar') }}" alt="Photo de {{ user }}" class="rounded-circle border border-3 p-2" with="300" height="300">
				{% else %}
					<img src="https://placehold.co/300" alt="Photo par défaut" class="rounded-circle border border-3 p-2">
				{% endif %}
			</div>
			<div class="col-md-6">
				<h1>{{ user }}</h1>

				<table class="table">
					<tbody>
						<tr class="visually-hidden">
							<th>Id</th>
							<td id="userId">
								{{ user.id }}
							</td>
						</tr>
						<tr>
							<th>Age</th>
							<td>
								{{ user.age ?: 'xx' }}
								ans
							</td>
						</tr>
						{% if user.city %}
							<tr>
								<th>Ville</th>
								<td>
									{{ user.city|title }}
								</td>
							</tr>
						{% endif %}
						<tr>
							<th>Activités</th>
							<td>
								{% if user.activities|length > 0 %}
									<ul>
										{% for activity in user.activities %}
											<li>{{ activity }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Présentation</th>
							<td>
								{{ user.about }}
							</td>
						</tr>
					</tbody>
				</table>
				{% if user is not same as app.user %}

					<div id="friendAction" class="text-end">
						{% if user in app.user.myFriendUsers %}
							<button class="btn btn-secondary rounded-pill" data-controller="friend" data-action="click->friend#remove">Ne plus suivre</button>
						{% elseif user in app.user.myBlockedUsers %}
							<button class="btn btn-secondary rounded-pill" data-controller="friend" data-action="click->friend#remove">Débloquer</button>
						{% else %}
							<button class="btn btn-primary rounded-pill" data-controller="friend" data-action="click->friend#add">Suivre</button>
							<button class="btn btn-secondary rounded-pill" data-controller="friend" data-action="click->friend#block">Bloquer</button>
						{% endif %}
					</div>

				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
