{% set colors = ['danger', 'info', 'success'] %}
{% set a = [20, 30, 10] %}
{% set b = [80, 50, 100] %}
<div id="features" class="mb-3" data-controller="reveal">
	{% for key, feature in features %}
		<section class="feature py-4 col-8 mx-auto {{ key != 0 ? 'reveal'}}">
			<div class="row align-items-center">

				<div class="col-md-6 py-2 px-5 mx-auto {{ ((key + 1) / 2) matches '/^\\d+$/' ? 'order-md-2' }}">
					<h1 class="text-{{ colors[key] }}">{{ feature.title }}</h1>
					<p class="border-top border-5 border-{{ colors[key] }}">
						{{ feature.subtitle|raw }}
					</p>
				</div>

				<div class="col-md-6 mx-auto {{ ((key + 1) / 2) matches '/^\\d+$/' ? 'order-md-1' }}">
					{% if feature.picture %}
						<img src="{{ asset('images/' ~ feature.picture) }}" alt="{{ feature.title }}" class="img-fluid rounded-4" width="500" height="500">
					{% endif %}
				</div>

			</div>
		</section>
	{% endfor %}
</div>
