<section class="d-flex align-items-center justify-content-center pb-5" {% if home.background %} style="height: 88vh; background: url('{{ asset('images/'~ home.background) }}') no-repeat center center fixed; background-size: cover;" {% endif %}>
	<div class="pb-5 text-center">
		<h1 class="text-white" style="text-shadow: 0 0 5px #000000;">{{ home.title ? home.title : 'title'}}</h1>
		<p class="text-white fs-3" style="text-shadow: 0 0 5px #000000;">{{ home.subtitle ? home.subtitle : 'subtitle' }}</p>
		<div class="col-6 mx-auto d-none d-md-block">
			{% for activity in activities %}
				<button class="btn btn-light rounded-pill" disabled>{{ activity.name|title }}</button>
			{% endfor %}
		</div>
		<div class="d-block d-md-none text-center">
			<button class="btn btn-light rounded-pill" disabled>
				{{ activities|length }}
				activités
			</button>
		</div>
	</div>
</section>
