<section class="d-flex align-items-center justify-content-center pb-5 background-header" {% if home.background is defined %} style="background-image: url('{{ asset('images/'~ home.background) }}');" {% endif %}>
	<div class="pb-5 text-center">
		<h1 class="text-primary text-shadow">
			{{ home.title ? home.title : site_name }}

		</h1>
		<p class="title text-shadow fs-3">
			{{ home.subtitle ? home.subtitle : 'subtitle' }}
		</p>
		<div class="col-6 mx-auto d-none d-md-block">
			{% for activity in activities|slice(0, 17) %}
				<button class="btn btn-light rounded-pill" disabled>
					{{ activity.name|capitalize }}
				</button>
			{% endfor %}
			{% if activities|length > 17 %}
				<button class="btn btn-light rounded-pill" disabled>
					... et
					{{ activities|length - 17 }}
					autres
				</button>
			{% endif %}
		</div>
		<div class="d-block d-md-none text-center">
			<button class="btn btn-light rounded-pill" disabled>
				parmi
				{{ activities|length }}
				activités
			</button>
		</div>
	</div>
</section>
