<section class="card mb-3">
	<div class="card-body">
		<div class="d-flex justify-content-between align-items-baseline">
			<h2>{{ trip.title|capitalize }}</h2>
			{# Edit button #}
			{% if trip.member == app.user %}
				{# <div class="text-end"> #}
				<a href="{{ path('app_trip_edit', {'id': trip.id}) }}" class="btn btn-secondary rounded-pill">
					Modifier
				</a>
				{# </div> #}
			{% else %}
				<a href="{{ path('app_profile_show', {'slug': trip.member.slug}) }}" class="btn btn-primary rounded-pill">
					{{ trip.member }}
				</a>
			{% endif %}
		</div>
		<div class="mb-3">
			<span class="badge text-bg-primary">{{ trip.activity|capitalize }}</span>
		</div>
		<div class="mb-3">
			<b class="text-muted">
				{{ trip.dateAt|format_datetime(pattern='EEE dd MMM', locale='fr') }}
				à
				{{ trip.dateAt|date('H\\hi') }}
				-
				{{ trip.location|title }}
			</b>
		</div>

		<p>
			{{ trip.description|nl2br|raw }}
		</p>

		<input id="trip_lat" type="hidden" value="{{ trip.lat }}"/>
		<input id="trip_lng" type="hidden" value="{{ trip.lng }}"/>

		{% include 'trip/_accepted_user.html.twig' %}
	</div>

	<div id="map" class="rounded-bottom-4" style="height:360px" data-controller="map-trip"></div>
</section>
{% if trip.member != app.user %}
	<a href="{{ path('app_signalment_index', {type: 'trip', id: trip.id}) }}" class="ms-4 mb-2 text-secondary">signaler</a>
{% endif %}