{# Show the list of all requests for a trip #}
<section class="card">
    <div class="card-header">
        <h2 class="card-title">Demandes</h2>
    </div>
    <ul class="list-group list-group-flush">
        {% for tripRequest in tripRequests %}
            <li class="list-group-item py-3 d-flex justify-content-between">
                <a href="{{ path('app_trip_request_show', {'id': tripRequest.id} )}}" class="btn btn-primary position-relative">{{ tripRequest.member }}
                    {# {% include "trip/_notif.html.twig" %} #}
                </a> 
                <button class="btn btn-secondary" disabled>
                    {{ tripRequest.status|title }}
                </button>
            </li>
        {% else %}
            <li class="list-group-item">
                Aucune demande pour le moment
            </li>
        {% endfor %}
    </ul>
    {# <div class="card-body">
        {% if trip.isAvailable == true %}
            <a href="{{ path('app_trip_available', {'id': trip.id, 'param': 0}) }}" class="card-link btn btn-success">Close requests</a>
        {% else %}
            <a href="{{ path('app_trip_available', {'id': trip.id, 'param': 1}) }}" class="card-link btn btn-danger">Open requests</a>
        {% endif %}
    </div> #}
</section>