{% extends 'base.html.twig' %}

{% block title %}Mot de passe perdu
{% endblock %}

{% block body %}
	<section class="card col-md-6 mx-auto">
        <div class="card-header">
            <h1 class="card-title">Hey t'as perdu ton Password ?</h1>
        </div>
        <div class="card-body">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(form) }}

			{{ form_errors(form) }}

			{{ form_widget(form) }}

			<button type="submit" class="btn btn-primary">
				<i class="fas fa-email"></i>
				Recevoir un lien de réinitialisation
			</button>

			{{ form_end(form) }}

        </div>
    </section>

{% endblock %}
