<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			- OrganiZe</title>
		<meta name="turbo-refresh-method">
		<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#00758f">
		<link rel="manifest" href="{{ asset('manifest.json')}}">

		<meta name="description" content="Partenaires d'activités">

		<link rel="stylesheet" href="https://unpkg.com/@webgeodatavore/photon-geocoder-autocomplete@2.0.1/dist/photon-geocoder-autocomplete.min.css" type="text/css">
		{% block stylesheets %}
			<link
			rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{# {{ ux_controller_link_tags() }} #}
		{% endblock %}

		 <script src="https://unpkg.com/@webgeodatavore/photon-geocoder-autocomplete@2.0.1/dist/photon-geocoder-autocomplete.min.js"></script>
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body
		class="bg-light">
		{# Navbar #}
		{% include "shared/_navbar.html.twig" %}

		{# Main container #}
		{% block main %}
			<div
				class="container my-4" style="min-height:88vh">
				{# Flash messages #}
				{% for type, messages in app.flashes %}
					{% for message in messages %}
						{{ component('Alert', { type:type, message:message }) }}
					{% endfor %}
				{% endfor %}

				{# Body #}
				{% block body %}{% endblock %}
			</div>
		{% endblock %}

		{# Footer #}
		{% include "shared/_footer.html.twig" %}
	</body>
</html>
