<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			- OrganiZe
		</title>
		<meta name="turbo-refresh-method">
		<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#345995">
		<link rel="manifest" href="{{ asset('manifest.json')}}">

		<meta name="description" content="OrganiZe, l'application qui vous aide à trouver des partenaires d'activités !">
		<meta name="author" content="Mattéo Dauchez"/>
		<meta name="copyright" content="Mattéo Dauchez"/>


		{% block stylesheets %}
			<link
			rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{# {{ ux_controller_link_tags() }} #}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			 <script src="https://unpkg.com/@webgeodatavore/photon-geocoder-autocomplete@2.0.1/dist/photon-geocoder-autocomplete.min.js"></script>
		{% endblock %}
	</head>

	{# {% set values = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f']%}
																		{% set color = '#' ~ random(values)~ random(values)~ random(values) %} #}

	<body
		class="background" data-controller="serviceWorker">

		{# Navbar #}
		{% include "shared/_navbar.html.twig" %}

		{# Main container #}
		{% block main %}
			<div
				class="container" style="min-height:88vh">
				{# Flash messages #}
				{% for type, messages in app.flashes %}
					{% for message in messages %}
						{{ component('Alert', { type:type, message:message }) }}
					{% endfor %}
				{% endfor %}

				{# Body #}
				{% block body %}{% endblock %}
			</div>
		{% endblock %}

		{# Footer #}
		{% include "shared/_footer.html.twig" %}
	</body>
</html>
