<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			- OrganiZe
		</title>
		<meta name="turbo-refresh-method">
		<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#345995">
		<link rel="manifest" href="{{ asset('manifest.json')}}">

		<meta name="description" content="OrganiZe, l'application qui vous aide à trouver des partenaires d'activités !">
		<meta name="author" content="Mattéo Dauchez"/>
		<meta name="copyright" content="Mattéo Dauchez"/>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		{% block stylesheets %}
			<link
			rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{# {{ ux_controller_link_tags() }} #}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			 <script src="https://unpkg.com/@webgeodatavore/photon-geocoder-autocomplete@2.0.1/dist/photon-geocoder-autocomplete.min.js"></script>
		{% endblock %}
	</head>

	<body
		class="background" data-controller="serviceWorker">

		{# Navbar #}
		<div class="d-none d-md-block">
			{% include "shared/_navbar.html.twig" %}
		</div>

		{# Main container #}
		{% block main %}
			<div
				id="main_container" class="container-lg my-3 full-height">
				{# Flash messages #}
				{% for type, messages in app.flashes %}
					{% for message in messages %}
						{{ component('Alert', { type:type, message:message }) }}
					{% endfor %}
				{% endfor %}

				{# Body #}
				{% block body %}{% endblock %}
			</div>
			{# Footer #}
			<div class="d-none d-md-block">
				{% include "shared/_footer.html.twig" %}
			</div>
		{% endblock %}

		<div class="sticky-bottom d-block d-md-none">
			{% include 'shared/_navbar_small.html.twig' %}
		</div>
	</body>
</html>
