{% if discution|length > 0 %}
	<h6 class="mb-2">{{ discution|length }}
		messages
	</h6>
	<div id="messageBox" class="px-3 h-100" style="max-height: 300px; overflow-y: scroll;" data-controller="message-box">
		{% for message in discution %}

			{% if app.user == message.member %}
				<div
					class="row align-items-center justify-content-end">
					{# <div class="col text-end mb-3">
																																				<a class="btn btn-outline-danger rounded-circle" href="{{ path('app_message_delete', { id:message.id }) }}">
																																					&#10005;
																																				</a>
																																			</div> #}
					<div class="col-auto p-3 alert alert-light">
						{{ message.content }}
						<br>
						<sub class="my-2 float-end">{{ message.createdAt|format_datetime(pattern='dd MMM à HH:mm', locale='fr') }}
							{% if message.isRead %}
								<span class="text-primary">
									- Vu</span>
							{% endif %}
						</sub>
					</div>
				</div>
			{% else %}
				<div class="row">
					<div class="col-auto p-3 alert alert-info">
						{{ message.content }}
						<br>
						<sub>{{ message.createdAt|format_datetime(pattern='dd MMM à HH:mm', locale='fr') }}
							par
							{{ message.member }}
							{% if message.isRead %}
								<span class="text-primary">
									- Vu</span>
							{% endif %}
						</sub>
					</div>
				</div>
			{% endif %}

		{% endfor %}
	</div>
{% endif %}
