{# {% set color = random(['danger', 'info', 'success', 'warning']) %} #}

<div class="alert alert-warning">
	<a href="{{ path('app_trip_show', {'id': trip.id}) }}">
		<div class="">
			<h4>{{ trip.title|title }}</h4>
			<span class="badge text-bg-primary">{{ trip.activity|capitalize }}</span>
		</div>
	</a>
	<div class="">
		<div class="mb-3">
			<b
				class="text-muted">
				{# {{ trip.dateAt|format_datetime(pattern='EEE dd MMM', locale='fr') }}
																												à #}
				{{ trip.dateAt|date('H\\hi') }}
			</b>
			<br>
			{{ trip.location|title }}
		</div>
	</div>
	<div class="">
		{% if app.user == trip.member %}

			{% if trip.isAvailable == false %}
				<button class="btn btn-danger" disabled>Fermée</button>
			{% endif %}

			{# Trip join requests status #}
			{% for status, data in status[trip.id] %}
				{% if data.qty > 0 and status != 'OWNER' %}
					<button class="btn btn-{{ data.color }}" disabled>
						{{ data.qty }}
						{# {{ status|title|trans }} #}
					</button>
				{% endif %}
			{% endfor %}

		{% else %}

			{# User trip request status #}
			{% for tripRequest in trip.tripRequests %}
				{% if tripRequest.member == app.user %}
					<div class="d-grid gap-2 d-md-block">
						<button class="btn btn-outline-{{ tripRequest.color }}" disabled>
							{{ tripRequest.status|title|trans }}
						</button>
					</div>
				{% endif %}
			{% endfor %}

		{% endif %}


	</div>
</div>
