<div class="card border round mb-2 pt-2 px-2 h-100">
	<div class="d-md-flex align-items-md-center text-center text-md-start">
		<div class="col-md-4">
			{% if user.avatar %}
				<img src="{{ asset(images_dir ~ user.avatar)|imagine_filter('user_card') }}" alt="Photo de {{ user }}" class="rounded-circle me-2" width="50" height="50">
			{% else %}
				<img src="{{ asset('images/icons/android-chrome-192x192.png')|imagine_filter('user_card') }}" alt="{{ user.pseudo|title }}" class="rounded-circle me-2">
			{% endif %}
		</div>
		<div class="col-md-8">
			<a href="{{ path('app_profile_show', {slug: user.slug}) }}" class="btn btn-link">
				{{ user.pseudo|title }}
			</a>
		</div>
	</div>
</div>
