<footer class="py-4 background-footer">
	<ul class="nav justify-content-center py-3">
		<li class="nav-item">
			<a href="{{ path('app_home') }}" class="nav-link px-2 text-body-secondary">Accueil</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_faq') }}" class="nav-link px-2 text-body-secondary">FAQs</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_about') }}" class="nav-link px-2 text-body-secondary">A propos</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_legal') }}" class="nav-link px-2 text-body-secondary">Mentions légales</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_cgu') }}" class="nav-link px-2 text-body-secondary">CGU</a>
		</li>
	</ul>
	<p class="text-center text-body-secondary">
		&copy; OrganiZe 2024
	</p>
</footer>
