<nav class="navbar navbar-expand-lg navbar-light background-nav" aria-label="navbar">
	<div class="container-fluid">

		<a class="navbar-brand d-flex align-items-center mb-md-0 me-md-auto text-primary text-decoration-none" href="{{ path('app_home') }}">
			<img
			src="{{ asset('images/icons/android-chrome-192x192.png') }}" width="40" height="40" alt="Logo">
		{# <span class="fs-4 ms-2">{{ site_name }}</span> #}
		</a>
		<ul class="nav nav-pills" data-controller="nav-active">
			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item">
					<a href="{{ path('app_admin') }}" class="nav-link">
						<div class="d-flex align-items-center">
							<i class="fa-solid fa-gear fs-5"></i>
							<span class="d-none d-md-block ms-2">Administration</span>
						</div>
					</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_USER') %}
				<li class="nav-item">
					<a href="{{ path('app_planning_index') }}" class="nav-link">
						<div class="d-flex align-items-center">
							<i class="fa-solid fa-calendar fs-5"></i>
							<span class="d-none d-md-block ms-2">Planning</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_search_index') }}" class="nav-link">
						<div class="d-flex align-items-center">
							<i class="fa-solid fa-search fs-5"></i>
							<span class="d-none d-md-block ms-2">Chercher</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_profile_index') }}" class="nav-link">
						<div class="d-flex align-items-center">
							<i class="fa-solid fa-user fs-5"></i>
							<span class="d-none d-md-block ms-2">{{ app.user }}</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_logout') }}" class="nav-link">
						<div class="d-flex align-items-center">
							<i class="fa-solid fa-right-from-bracket fs-5"></i>
							<span class="d-none d-md-block ms-2">Déconnexion</span>
						</div>
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a href="{{ path('app_register') }}" class="nav-link">Créer un compte</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_login') }}" class="nav-link">Connecter</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
