{% if app.user == trip.member %}

	{# {% if trip.isAvailable == false %}
							        <button class="btn btn-danger" disabled>Fermée</button>
							    {% endif %} #}

	{# Trip join requests status #}
		{% for status, data in status[trip.id] %}
			{% if data.qty > 0 and status != 'OWNER' %}
				<button class="btn btn-{{ data.color }} rounded-pill" disabled> {{ data.qty }}
				{# {{ status|title|trans }} #}
			</button>
		{% endif %}
	{% endfor %}

{% else %}

	{# User trip request status #}
	{% for tripRequest in trip.tripRequests %}
		{% if tripRequest.member == app.user %}
			<div class="py-2">
				<b class="text-{{ tripRequest.color }}" disabled>
					{{ tripRequest.status|title|trans }}
				</b>
			</div>
		{% endif %}
	{% endfor %}

{% endif %}
