<table class="table">
	<thead>
		<tr>
			<th>Date</th>
			<th></th>
			<th>Location</th>
			<th>Activity</th>
			<th>Title</th>
			<th>Created by</th>
			<th>
			{# {% if pending %}<span class="badge bg-primary">{{ pending }}</span>{% endif %} #}
			Requests 
			</th>
		</tr>
	</thead>
	<tbody>
		{% for date, trips in calendar %}
			{% for trip in trips %}
				<tr class="align-middle">
					{% if loop.first %}
						<td {% if trips|length > 1 %}rowspan="{{ trips|length }}"{% endif %}>
							{{ date|date('d.m') }}
						</td>
					{% endif %}
					<td>{{ trip.dateAt|date('H\\hi')}}</td>
					<td>
						{{ trip.location }}
					</td>
					<td>
						{{ trip.activity|title }}
					</td>
					<td>
						<a href="{{ path('app_trip_show', {'id': trip.id}) }}" 
							class="btn btn-primary position-relative"
							data-turbo-frame="_top">
							{{ trip.title|capitalize }}
							{# {% include "table/_notif.html.twig" %} #}
						</a>
					</td>
					<td>
						{% if trip.member != app.user %}
							<a href="{{ path('app_profile_show', {'slug': trip.member.slug}) }}" 
								class=""
								data-turbo-frame="_top">
								{{ trip.member }}
								{% if trip.member in app.user.myFriendUsers %} *<i class="fa-solid fa-star"></i> {% endif %}
							</a>
						{% endif %}
					</td>
					<td>
						{# {% include "table/_table_status.html.twig" %} #}
					</td>
				</tr>
			{% else %}
				<tr>
					<td>
						{{ date|date('d.m') }}
					</td>
					<td colspan="100%"></td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
